.jumbotron {
  padding-top: 6rem;
  background-color: #ded4c3;
}

#projects {
  background-color: #ded4c3;
}

section {
  padding-top: 5rem;
}

/* .card {
  background-color: black;
}

.card h5 {
  color: white;
}

.card .card-text {
  color: white;
} */

#skills .card-img-top {
  height: 300px;
  width: 300px;
}
