.jumbotron {
  padding-top: 6rem;
  background-color: #ded4c3;
}

#projects {
  background-color: #ded4c3;
}

section {
  padding-top: 5rem;
  margin-top: -70px;
  /* minus margin top biar jaraknya engga jauh bngt sama container diatasnya */
}

.card {
  background-color: #ded4c3;
}

.subjudul {
  padding-top: 1rem;
}

/* .card h5 {
  color: white;
}

.card .card-text {
  color: white;
} */

/* #skills .card-img-top {
  height: 300px;
  width: 300px;
} */
